%style{:type => "text/css", :media => "screen"}
  :plain
    #panel{
      margin:0 auto;
      margin-top:30px;
      margin-bottom:30px;
      width:300px;
      height:300px;
      background:url('/images/iphone/image-bg.png') no-repeat top center;
    }
    #image{
      height:220px;
    }
    #buttons{
      height:100px;
      margin-top:15px;
      margin-left:10px;
    }
      
%div#panel
  %div#image
  %div#buttons
    = link_to image_tag('iphone/button-kill.png'), fire_devices_path, :method => :post