%style{:type => "text/css", :media => "screen"}
  :plain
    #wrapper{
      position:relative;
      margin:0 auto;
      max-width:480px;
      height:100%;
      background:url('../images/iphone/bg.png') no-repeat top center;
    }
    #image{
      position:relative;
      margin:0 auto;
      top:100px;
      width:80%;
      min-height:200px;
      border:2px solid gray;
    }
      
%div#wrapper
  %div#image